body {
  font-family: Arial, sans-serif;
  background-color: black;
  margin: 0;
}
section {
  max-width: 500px;
  margin: 60px auto;
  background: darkgreen;
  padding: 24px;
  border: 2px solid lime;
}
center {
  display: flex;
  align-items: center;     /* vertical */
  justify-content: center; /* horizontal */
}
h1 {
  color: limegreen;
  align-items: center;
}

p {
  color: limegreen;
}
button {
  background:darkgreen;
  color:limegreen;
  border:2px solid lime;
  padding:10px 18px;
  margin: 0 10px;
}
